@import '../../../styles/variables';
@import '../../../styles/mixins';

.global {
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: center;    
}

.contentContainer {
    composes: contentContainer from '../../../styles/globals.scss';
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header-logo {
    max-height: 50px;
}