@import '../../../styles/variables';
@import '../../../styles/mixins';

.navGlobal {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;    
}

.contentContainer {
    composes: contentContainer from '../../../styles/globals.scss';
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.headerLogo {
    max-width: 100%;
    height: auto;
    max-height: 50px;
}

.navMenu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: 20px;    

    li {
        a {
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 400;
            color: #fff;
            font-size: 12px;
            line-height: 12px;
            letter-spacing: 2px;
            padding: 8px 13px 5px;
            border-bottom: transparent 3px solid;
            border-radius: 5px;
        }
    }
}

.navConnect {
    @include boxgradient($deg: 90deg, $color1: $swatch-2, $color2: $swatch-3);
    padding: 5px 30px;
    border-radius: 50px;
    font-size: 18px;
    line-height: 18px;    
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        background: #fff;
        transform: scale(1.05);
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
        color: #000;
        font-weight: 900;
        font-size: 14px;
    }
}

// .navMenu {
//     display: flex;
//     align-items: center;
//     list-style: none;
//     gap: 40px;
//     font-size: 20px;

//     .navMenuItem {
//         display: flex;
//         flex-direction: column;
//         gap: 5px;
//         cursor: pointer;
//     }

//     .navMenuLink {
//         text-transform: uppercase;
//         text-decoration: none;
//         font-weight: 400;
//         color: #fff;
//         font-size: 12px;
//         line-height: 12px;
//         letter-spacing: 2px;
//         padding: 8px 13px 5px;
//         border-bottom: transparent 3px solid;
//         border-radius: 5px;
//     }
// }