@mixin textgradient($deg:90,$color1:#cf0,$color2:#fc9) {
    background: linear-gradient($deg,$color1,$color2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin boxgradient($deg:90,$color1:#cf0,$color2:#fc9) {
    background: linear-gradient($deg,$color1,$color2);
}