/* Fonts */
$global-font-family: 'Raleway';
$global-font-jp: 'Noto Sans JP', sans-serif;

/* Global colours */
$swatch-1: #1a1a1a;
$swatch-2: #ffc300;
$swatch-3: #fe0;

/* Breakpoints */
$screen-lg: 1440px;
$screen-md: 992px;
$screen-sm: 768px;

$default-bg-color: #333;
$navbar-bg-color: #000;
$footer-bg-color: #000;